doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/ol.css')
    body
        div(id='map', class='map')

        block content
        script(src='/javascripts/ol.js')
        script(src='/javascripts/map.js')
